{% extends "base.html" %}

{% block site_meta %}

<meta name="title"
    content="@arv-anshul/campusx-dsmp: Get all the resources like 🔗 Links of 📝 Notes and 📓 Notebooks provided in the CampusX's DSMP Course." />
<meta name="description"
    content="Get all the resources like 🔗 Links of 📝 Notes and 📓 Notebooks provided in the CampusX's DSMP Course. - arv-anshul/campusx-dsmp" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://arv-anshul.github.io/campusx-dsmp/" />
<meta property="og:title" content="CampusX - DSMP: Resources" />
<meta property="og:description"
    content="Get all the resources like 🔗 Links of 📝 Notes and 📓 Notebooks provided in the CampusX's DSMP Course. - arv-anshul/campusx-dsmp" />
<meta property="og:image"
    content="https://repository-images.githubusercontent.com/754020263/a44fa2ee-2ee2-4252-a62c-3c359a7d262a" />
<meta property="og:image:type" content="object" />
<meta property="og:image:alt"
    content="Get all the resources like 🔗 Links of 📝 Notes and 📓 Notebooks provided in the CampusX's DSMP Course. - arv-anshul/campusx-dsmp" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://github.com/arv-anshul/campusx-dsmp/" />
<meta property="twitter:title" content="CampusX - DSMP: Resources" />
<meta property="twitter:description"
    content="Get all the resources like 🔗 Links of 📝 Notes and 📓 Notebooks provided in the CampusX's DSMP Course. - arv-anshul/campusx-dsmp" />
<meta name="twitter:image:src"
    content="https://repository-images.githubusercontent.com/754020263/a44fa2ee-2ee2-4252-a62c-3c359a7d262a" />
<meta property="twitter:image"
    content="https://repository-images.githubusercontent.com/754020263/a44fa2ee-2ee2-4252-a62c-3c359a7d262a" />

{% endblock site_meta %}
