name: Build Docs

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup cache for CI
        uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache

      - name: Sync dependencies
        run: uv sync -p 3.13 --locked --no-dev

      - name: Finally build docs and publish
        env:
          GOOGLE_ANALYTICS_PROPERTY: ${{ secrets.GOOGLE_ANALYTICS_PROPERTY }}
        run: uv run --locked mkdocs gh-deploy --force
